<app-navbar></app-navbar>
<section class="heading">
  <div class="header">Be a Career Mentor today and make an impact</div>
</section>
<section class="eligibility">
  <div class="container-max-980">
    <h4>ELIGIBILITY</h4>

      <!--Allen-->
      <div class="skill">
            <img src="assets/images/about/1_A.jpg" alt="INTER-PERSONAL">
                  <h1 class="textonimage">
                    <p class="a">
                      STRONG INTER-PERSONAL SKILLS
                    </p>
                  </h1>
      </div>

      <div class="skill">
            <img src="assets/images/about/1_B.jpg" alt="KNOWLEDGEABLE">
                  <h1 class="textonimage">
                    <p class="a">
                      BEING KNOWLEDGEABLE
                    </p>
                  </h1>
      </div>

      <div class="skill">
              <img src="assets/images/about/1_C.jpg" alt="NATURAL INFLUENCER">
                  <h1 class="textonimage">
                    <p class="a">
                      BEING A NATURAL INFLUENCER
                    </p>
                  </h1>
      </div>
      <!--Allen-->

  </div>

</section>
<section class="why">
  <div class="container-max-980">
    <h4>Why become a mentor on Xperly?</h4>
    <h2>Everybody needs a dedicated mentor but true mentorship is disappearing in today’s world.</h2>
    <div class="reasons">
      <div class="reason">
        <img src="assets/images/about/coins.png">
        <p class="description">Compensation</p>
      </div>
      <div class="reason">
        <img src="assets/images/about/calendar.png">
        <p class="description">Easy Scheduling</p>
      </div>
      <div class="reason">
        <img src="assets/images/about/idea.png">
        <p class="description">Global Payment System</p>
      </div>
    </div>
  </div>
</section>
<section class="easy-onboarding">
  <h4>EASY ONBOARDING</h4>
  <h2>4 Easy Steps to Start a Great Conversation</h2>
  <img src="assets/images/about/4.png">
</section>

<section class="accessibility">
  <h4>ACCESSIBILITY</h4>
  <h2>Available Cross Platform</h2>
  <img src="assets/images/about/5.png">
</section>

<section class="quality">
  <h4>QUALITY</h4>
  <h2>Industry Leading</h2>
  <h2>Video Conferencing Solutions</h2>
  <img src="assets/images/about/6.png">
</section>

<section class="connect">
  <h4>CONNECT WITH XPERLY ON</h4>
  <div class="methods">
    <a href="https://www.facebook.com/Xperlycom-634808533650721" target="_blank">
      <img src="assets/images/about/facebook.png">
    </a>
    <a href="https://www.linkedin.com/company/candorsoftware" target="_blank">
      <img src="assets/images/about/linkedin.png">
    </a>
    <a href="#" target="_blank">
      <img src="assets/images/about/instagram.png">
    </a>
  </div>
</section>

<section class="cta">
  <h2>WHAT ARE YOU WAITING FOR?</h2>
  <div class="black">
    <h1 class="apply">Apply to become a mentor on Xperly</h1>
    <app-button-with-arrow class="button" color="#147af0">Sign Up Now</app-button-with-arrow>
  </div>
</section>
